.profile__avatar {
    object-fit: cover;
    max-width: 120зx;
    max-height: 120px;
    border-radius: 50%;
    margin: 0;
    margin-right: 30px;
}

@media screen and (min-width: 320px) and (max-width: 670px) {
    .profile__avatar {
        margin-right: 0;
        margin-bottom: 22.25px;
    }
}