.footer {
    max-width: 880px;
    margin: 0 auto;
    margin-top: 67px;
    padding-bottom: 60px;
}

@media screen and (min-width: 340px) and (max-width: 645px) {
    .footer {
        margin-top: 48px;
        padding-bottom: 36px;
        min-width: 282px;
    }
}

@media screen and (min-width: 320px) and (max-width: 340px) {
    .footer {
        margin-top: 48px;
        padding-bottom: 36px;
        max-width: 282px;
    }
}